.container {
    align-items: center;
    justify-content: center;
    background-color: #411f1f;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.container2 {
    align-items: center;
    justify-content: center;
    background-color: #e4e800;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    font-weight: bolder;
}